html {
  scroll-behavior: smooth;
}

#head{
  text-align: center;
}

#body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#intro{
  padding: 1em;
}


#footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#footer a {
  color: wheat;
}

#text-box{
  text-align: center;
  padding: 5px;
}

.about-me{
  text-align: center;
}


.btn-info {
    
    margin-top: 3px;
}
