#head{
  text-align: center;
}

#body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#intro{
  padding: 1em;
}

/* .card{
  width: 20rem;
} */

#footer{
  text-align: center;
  border-style: solid;
}

#text-box{
  text-align: center;
  padding: 5px;
}