html {
  scroll-behavior: smooth;
}

#head {
  text-align: center;
  flex-shrink: 0;
}

#body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#intro {
  padding: 1em;
}

main {
  flex-grow: 1;
  padding-bottom: 140px;
}

#footer {
  text-align: center;
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#footer a {
  color: wheat;
}

#text-box {
  text-align: center;
  padding: 5px;
}

.about-me {
  text-align: center;
}

.btn-info {
  margin-top: 3px;
}

#reiki {
  height: 200px;
  width: 50px;
}

.btn-warning {
  margin: 10px;
  
}

#tableHeader {
  margin: 10px;
  padding: 10px;
}

td {
  margin: 10px;
  padding: 10px;
}

#tableBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}